/* UTILITIES */
img {
    max-width: 100%;
}

/* HEADER */

.ms_header {
    background-color: #303D4E;

}


/* MAIN */

/* HERO-SECTION */
.ms_hero_container {
    background-color: #58B99D;
}

.ms_hero_container img {
    width: 200px;
}

/* PORTFOLIO-SECTION */



/* ABOT-SECTION */

.ms_about_container {
    background-color: #58B99D;
}


/* CONTACT-US-SECTION */

.ms_input_container {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.btn.ms_btn-color {
    background-color: #58B99D;
    color: white;
}

/* FOOTER */

.ms_footer_container {
    background-color: #40536B;
}

.ms_i {
    border-radius: 50%;
    border: 1px solid white;
    padding: 10px;
    margin: 5px;
    font-size: 1.4rem;
    color: white;
}

.ms_footer_container a {
    color: #58B99D;
    text-decoration: none;
}

/* COPYRIGHT-SECTION */

.ms_copyright_container {
    background-color: #303D4E;
}